<div class="container">
  <div class="row">
    <div class="col-md-2 sidebar centered">
      <div>
        <img src="img/fuckblur.png" class="logo" width="120" height="120">
        <p>
          Don't fuck up. Don't even try.
        </p>
      </div>
    </div>
    <div class="col-md-6 col-md-offset-1 site">

      <div class="site-title clearfix">
        <h2>Deal with dude.</h2>
        <!-- <span ng-click="toggleMenu()" class="glyphicon glyphicon-tasks menu-btn"></span> -->
      </div>

      <div class="post">
        <h4 ng-bind="deal.title"></h4>
        <small ng-bind="deal.deadline | date:'MMM d, h:mm a'">7 Nov 2014, 5:00 pm</small>
        <!-- <div class="pull-right">
          <span>With </span><img src="" width="30" height="40">
        </div> -->
      </div>

    </div>
  </div>
</div>
